@import "./variables";
@import "./mixin";

section {
  @include container;
  box-sizing: border-box;
  position: sticky;
  margin-top: $top-margin;  
  background: rgba(246, 246, 246, 1);
  border-radius: $radius-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 45px;
  padding: 45px;
  @media screen and (max-width: 768px) {
    background-color: transparent;
    padding: 0;
  }
}
