@import "./variables";
@import "./mixin";

.section-cards {
  @include container;
  box-sizing: border-box;
  position: sticky;
  margin-top: $top-margin;
  background: rgba(246, 246, 246, 1);
  border-radius: $radius-border-20px;
  display: grid;
grid-template-columns: 30% 30% 30%;
  gap: 45px;
  padding: 45px;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    padding: 0;
  }
  a {
    flex-grow: 1;
    position: relative;
    width: 30%;
    height: 340px;
    margin: 0;
    border-radius: $radius-border-cards-img;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
    text-decoration: none;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    img {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius-border-cards-img;
    }
    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 25.67px;
      color: rgba(255, 255, 255, 1);
      padding: $padding-title-card;
      text-align: left;
    }
  }
}
