@import "./mixin";
@import "./variables";

.filter {
  @include container;
  width: 71%;
  margin: auto;
  margin-top: $top-margin;
  .name {
  position: relative;
    box-sizing: border-box;
    height: 52px;
    border-radius: 5px;
    padding: 10px 0px 10px 15px;
    background: rgba(255, 96, 96, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      height: 30px;
    }
    h2 {
      color: rgba(255, 255, 255, 1);
      font-weight: 700;
      font-size: 24px;
      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }
    i {
      width: 32px;
      height: 32px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      transition: transform 400ms ease;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    .rotate {
      transform: rotate(-180deg);
    }
  }
  p {
    position: absolute;
    z-index: -1;
    background: rgba(246, 246, 246, 0.45);
    padding: 20px;
    line-height: 25.67px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0;
    font-size: 18px;
    text-align: left;
    transform: translateY(-20px);
    opacity: 0;
    max-height: 0;
    animation: closeFilter 400ms forwards;
  }
  @keyframes closeFilter{
    from{
    transform: translateY(0);
    opacity: 1;
    max-height: 1000px;
    position: relative;
    }
    to{
      position: relative;
    }
  }
  p.open {
    animation: openFilter 400ms forwards;
  }
  @keyframes openFilter{
    from{
      position: relative;
    }
    to{
      transform: translateY(0);
    opacity: 1;
    max-height: 1000px;
    position: relative;
    }
  }
  
    @media screen and (max-width: 768px) {
      font-size: 11px;
    }
}
