@import "./variables";
@import "./mixin";

.carrousel {
  position: relative;
  @include container;
  margin-top: $top-margin;
  height: 415px;
  border-radius: $radius-border-20px;
  @media screen and (max-width: 768px) {
    height: 255px;
  }
  #picture {
    width: 100%;
    height: 100%;
  }
  #arrow-left,
  #arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 768px) {
      width: 12px;
      height: 20px;
    }
  }
  #arrow-left {
    left: 25px;
    @media screen and (max-width: 768px) {
      left: 6px;
    }
  }
  #arrow-right {
    right: 25px;
    @media screen and (max-width: 768px) {
      right: 6px;
    }
  }
}
section {
  @include container;
  margin-top: $top-margin;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  @media screen and (max-width: 768px) {
    margin-top: 15px;
    flex-direction: column;
  }
  .title-tag {
    h1 {
      font-weight: 500;
      font-size: 36px;
      color: rgba(255, 96, 96, 1);
      margin: 0;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
    p {
      margin: 10px 0 0 0;
      font-weight: 500;
      font-size: 18px;
      text-align: left;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      gap: 10px;
      li {
        width: 115px;
        height: 25px;
        background: rgba(255, 96, 96, 1);
        border-radius: 10px;
        font-weight: 700;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
          width: 84px;
          height: 18px;
          font-size: 10px;
        }
      }
    }
  }
  .host-rating {
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }    .host { 
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;     
      .name {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        color: rgba(255, 96, 96, 1);
        text-align: end;
        @media screen and (max-width: 768px) {
            font-size: 12px;
          }
      }
      img {
        width: 64px;
        height: 64px;
        background: rgba(196, 196, 196, 1);
        border-radius: 50%;
        @media screen and (max-width: 768px) {
            width: 32px;
            height: 32px;
          }
      }
    }
    .rating {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
      gap: 13px;
      @media screen and (max-width: 768px) {
        margin-top: 0;
        order: -1;
        gap: 8px;
      }
      .fa-star {
        font-size: 24px;
        color: rgba(227, 227, 227, 1);
        @media screen and (max-width: 768px) {
          font-size: 13px;
        }
      }
      .fa-star.active{
        color: rgba(255, 96, 96, 1);
      }
    }
  }
}
.details {
  background-color: transparent;
  margin-top: 15px;
  padding: 0;
  display: flex;  
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    gap: 20px;
  }
  .filter {
    width: 47%;
    margin: 0;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
