@import "../../styles/variables";
@import "../../styles/mixin";

header {
  @include container;
  padding-top: $top-margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    @media screen and (max-width: 768px) {
      width: 145px;
    }
  }
  nav {
    width: 309px;
    @media screen and (max-width: 768px) {
      width: auto;
    }
    ul {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      @media screen and (max-width: 768px) {
        width: auto;
        gap: 26px;
      }
      li {
        list-style-type: none;
        a {
          margin: 0;
          font-weight: 500;
          font-size: 24px;
          text-decoration: none;
          color: black;
          @media screen and (max-width: 768px) {
            font-size: 12px;
          }
          &.active {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}
