@import "../../styles/variables";
@import "../../styles/mixin";

.section-accommodation {
  @include container;
  margin-top: $top-margin;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  @media screen and (max-width: 768px) {
    margin-top: 15px;
    flex-direction: column;
  }
  .title-tag {
    h1 {
      font-weight: 500;
      font-size: 36px;
      color: rgba(255, 96, 96, 1);
      margin: 0;
      text-align: left;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
    p {
      margin: 10px 0 0 0;
      font-weight: 500;
      font-size: 18px;
      text-align: left;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  .host-rating {
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }    .host { 
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;     
      img {
        width: 64px;
        height: 64px;
        background: rgba(196, 196, 196, 1);
        border-radius: 50%;
        @media screen and (max-width: 768px) {
            width: 32px;
            height: 32px;
          }
      }
    }
  }
}
.details {
  @include container;
  background-color: transparent;
  margin-top: 15px;
  padding: 0;
  display: flex;  
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    gap: 20px;
  }
  .filter {
    width: 47%;
    margin: 0;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
